/* ```````````````````` Medeia Queries started ```````````````````` */
@media (max-width: 991.98px) {
    .dis-tab-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .dis-tab-header .nav-tabs>li>a {
        font-size: 18px;
        height: 45px;
        width: 145px;
    }

    .dis-tab-nav select#dis-cat {
        height: 45px;
        font-size: 18px;
    }

    .dis-bs-card .dis-cat {
        font-size: 13px;
    }

    .dis-tab-nav {
        justify-content: center;
    }

    .dis-tab-header .nav-tabs>li>a {
        margin: 0px 5px;
    }

    .dis-tab-nav .nav-tabs {
        border: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .dis-bs-card .dis-content_sec {
        padding: 5px 15px 10px 15px;
    }
}

@media (min-width: 576.01px) and (max-width: 991.98px) {
    .dis-bs-card {
        max-width: 300px;
    }
}

@media (max-width: 376px) {
    .dis-bs-card {
        padding: 6px;
    }

    .dis-bs-card .dis-cat {
        padding: 4px;
        font-size: 10px;
    }

    .dis-bs-card .dis-heading {
        margin-top: 8px;
    }

    .dis-bs-card .dis-rating_sec {
        margin: 8px 0;
    }

    .dis-bs-card .dis-footer_content h4 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 345px) {
    .dis-hero-search .dis-hero-search-items .dis-hero-search-item-input-box input::placeholder {
        font-size: 15px;
    }

    .dis-hero-search .dis-hero-search-items .dis-hero-search-item-btn button {
        font-size: 15px;
        width: 95px;
    }

    .dis-newsletter-subscribe .dis-newsletter-subscribe-form .dis-newsletter-subscribe-form-input-box input::placeholder {
        font-size: 15px;
    }

    .dis-newsletter-subscribe .dis-newsletter-subscribe-form .dis-newsletter-subscribe-btn input {
        font-size: 15px;
        width: 95px;
    }
}

/* ```````````````````` Medeia Queries ended ```````````````````` */