*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dis-bs-card {
  max-width: 370px;
  width: 100%;
  height: 475px;
  border: 1px solid #C8D0EE;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(35, 28, 79, 0.10);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.3s ease;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.dis-bs-card .dis-heading {
  margin-top: 15px;
  color: #0E0B33;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  overflow: hidden;
  height: 65px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.dis-bs-card .dis-cat {
  text-decoration: none !important;
  margin: 0;
  padding: 6px;
  background: rgba(204, 214, 228, 0.20);
  color: #2B354E;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dis-bs-card .dis-rating_sec {
  padding-top: 25px;
  display: flex;
  align-items: center;
  column-gap: 7px;
  margin: 10px 0;
}

.dis-bs-card .dis-rating_sec p {
  margin: 0;
  color: #2B354E;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
}

.dis-bs-card .dis-footer_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 7px;
}

.dis-bs-card .dis-footer_content h4 {
  margin: 0;
  color: #3569E1;
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 700;
}

.dis-bs-card .dis-footer_content h4 del {
  color: rgba(18, 51, 129, 0.40);
  font-family: Nunito Sans;
  font-size: 26px;
  font-weight: 700;
}

.dis-bs-card .dis-member {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.dis-bs-card .dis-member p {
  margin: 0;
  color: #2B354E;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
}

.dis-bs-card .dis-content_sec {
  padding: 15px 25px 25px 25px;
}

.dis-bs-card .dis-image_sec img {
  width: 100%;
}

.dis-cat-items {
  display: flex;
  gap: 4px;
}

.dis-bs-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  display: none;
  align-items: center;
  justify-content: center;
  background: #c9e9ff;
  width: 28px;
  height: 28px;
  font-size: 14px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.dis-bs-card:hover {
  background: #f0f9ff;
}

.dis-bs-card:hover .dis-cat {
  background: #c9e9ff;
}

.dis-bs-card:hover .dis-bs-btn {
  display: flex;
}

.dis-cat:hover {
  text-decoration: underline;
}

.dis-tab-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
  margin-top: 40px;
}

.dis-tab-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.dis-tab-cat {
  display: flex;
  gap: 16px;
  align-items: center;
}

.dis-tab-nav .nav-tabs {
  border: 0;
}

.dis-tab-header .nav-tabs>li>a {
 margin: 0px 25px 15px 0px;
  padding: 0;
  border: 1px solid #3f3b52;
  color: #3f3b52;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
  height: 55px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dis-tab-header .nav-tabs>li.active>a,
.dis-tab-header .nav-tabs>li.active>a:focus,
.dis-tab-header .nav-tabs>li.active>a:hover {
  border: 0;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(180deg, #4F72B9 0%, #35528B 100%);
}

.dis-tab-header .nav-tabs>li:last-child>a {
  margin: 0;
}

.dis-tab-nav .dis-tc-title {
  margin: 0;
  color: #2B354E;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 500;
}

.dis-tab-nav select#dis-cat {
  cursor: pointer;
  height: 52px;
  padding: 0px 30px 0 20px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 7px;
  border: 1px solid #3f3b52;
  color: #3f3b52;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
  background-image: url("https://cambridgeopenacademy.com/wp-content/uploads/2024/01/Frame-1000004232.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: auto 14px;
}
